<header>
      <div class='title-contents'>
        <h1><a href="/">Quick Order </a></h1>
        <% if user_signed_in? %>
        <p><%="こんにちは、#{current_user.name}さん"%></p>
         <div>
           <%
=begin%>
 <%= link_to "アカウント編集", edit_user_registration_path %> 
<%
=end%>
         </div>
          <div >
           <p>  <%= link_to '新規メニュー', new_item_path %></p>
           <p>   <%= link_to 'テーブル管理',  new_table_path %></p>
            <p>  <%= link_to "オーダー管理",orders_path %></p>
            
            <p>  <%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
           </div> 
        <% else%>
            <% unless user_signed_in? %>
              <p>こんにちは、ゲストさん 
              <% if session[:table_id].present? %> </p>
                  <p>選択中のテーブルは　<%= session[:table_id] %></p>
                  <p> <%= link_to "カートを見る", table_carts_path(session[:table_id])%> </p>
                  <p><%= link_to "オーダー履歴を見る", orders_path%> </p>
                  
                   <p><%= link_to "テーブル再選択", new_table_path%> </p>
                <% else %>
                  <p><%= link_to "テーブル選択",  new_table_path%></p>
                <% end %> 
              <% end %>   
          <% end %>
      </div>

</header>