<header> 
<% if user_signed_in? %>
<section>
  <div class="navtop">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="">home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li><%= link_to("新規メニュー", new_item_path, {class: "nav-link"}) %></li>
          <li><%= link_to("テーブル管理", new_table_path, {class: "nav-link"}) %></li>
          <li><%= link_to("オーダー管理", orders_path, {class: "nav-link"}) %></li>
          <li><%= link_to("ログアウト", destroy_user_session_path, {method: :delete, class: "nav-link"}) %></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<% else%>
</section>
  <div class="navtop">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    <% if session[:table_id].present? %> 
      <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
          <li><%= link_to("カートを見る", table_carts_path(session[:table_id]), {class: "nav-link"}) %></li>
          <li><%= link_to("オーダー履歴を見る", orders_path, {class: "nav-link"}) %></li>
          <li><%= link_to("テーブル再選択", new_table_path, {class: "nav-link"}) %></li>
         </ul>
    <% else %>
         <ul class="navbar-nav">
          <li><%= link_to("テーブル選択", new_table_path, {class: "nav-link"}) %></li>
       </ul>
    <% end %> 
       </div>
    </nav>
  </div>
  </section>
  <div class="alert alert-info text-center mb-0 rounded-0 alert-dismissile fade show" role="alert">
         News！  新メニュー追加しました！
   <button class="close" data-dismiss="alert">&times;</button>
</div>
<% end %> 

<div class='title-contents'>
  <h1><a href="/">Quick Order </a></h1>
  <% if user_signed_in? %>
    <p><%="こんにちは、#{current_user.name}さん"%></p>
  <% else%>
    <p>こんにちは、ゲストさん  <p>
        <% if session[:table_id].present? %> 
          <p>選択中のテーブルは&emsp;<%= session[:table_id] %></p>
        <% else %> 
          <p>テーブルを選択しましょう</p>  
      <% end %>   
 <% end %>
</div>
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
</header>