<%= render "devise/shared/header" %>

  <%if user_signed_in?%>
<div class ="order-content" >
    <% @orderObject[:rows].each do |row|%>
    <div class ="order-list" >
      <p>  <%= check_box_tag (:id_name) %></p>
      
      <p>  <%= "#{row[:order][:table_id]}番テーブル"%></p>
      <p>  <%= row[:item][:name] %></p>
      <p>  <%= "#{row[:order][:quantity]}個"%> </p> 
      <% if row[:order][:purchase_id] == nil %>
       <p> 未 </p>
      <% else %>
       <p> 済  </p> 
      <% end %>
    </div>
    <%end %>
</div>
<% else %>
  <div class ="order-content2" >
    <% @orderObject[:rows].each do |row|%> 
    <div class ="order-list2" >
        <div class ="order-name" >
              <p><%= row[:item][:name] %></p> 
        </div>
        <div class ="order-hoka" >      
              <p><%= row[:item][:cost] %>円 <span><%= row[:order][:quantity]%>個</span> </p> 
        </div>
      </div>
    <% end %>
  <p class="order-space">合計
  <span id ="total"><%=@orderObject[:total]%>円</span>
  </p> 
  <% if @orderObject[:total] == 0 %>
    <p>注文履歴はありません</p>
  <% end %>
</div>
  
  <div class="order-space">
    <p><%= link_to  "店頭支払い", items_path %></p>
    <p><%= link_to  "クレジット支払い",  table_purchases_path(session[:table_id])%></p> 
    <%=link_to 'もどる', root_path %>
  </div>
<% end %>
</div>

<%= render "devise/shared/footer" %>