<%= render "devise/shared/header" %>
<%if user_signed_in?%>
  <div class="order-space">
  </div>
  <div class ="order-content" >
    <%= form_with url: orders_path, method: :patch, local:true do |f|%>
    <table >
     <thead>
        <tr>
          <th></th>
          <th>テーブル番号</th>
          <th>メニュー</th>
          <th>個数</th>
          <th>支払い</th>
        </tr>
      </thead>
      <tbody>
        <% @orderObject[:unchecked_rows].each do |row|%>
          <tr class="unchecked">
            <td>       
              <%= f.collection_check_boxes :reserved, [row[:order]],:id, :id, include_hidden: false do |order|%>
              <%= order.label { order.check_box } %>
              <% end %>
            </td> 
            <td><%= "#{row[:order][:table_id]}"%></td>
            <td> <%= row[:item][:name] %></td>
            <td><%= "#{row[:order][:quantity]}"%> </td>
            <td> 
              <% if row[:order][:purchase_id] == nil %> 未 
              <% else %> 済 
              <% end %>
            </td>
          </tr>
        <% end %> 
      </tbody>
      <div id ="order-btn-space">
        <%= f.submit "更新",{class:"btn btn-outline-secondary"} %>
      </div>
    </table> 
   <% end %> 
  </div>

  <div class ="reserved-content" >
  <p>提供済み</p>
  <%= form_with url: orders_path, method: :patch, local:true do |f|%>
  <table >
    <thead>	     
        <tr>
         <th></th>	        
          <th>テーブル番号</th>	          
          <th>メニュー</th>	       
          <th>個数</th>	    
          <th>支払い</th>	       
        </tr>	      
      </thead>
      <tbody >
        <% @orderObject[:checked_rows].each do |row|%>
          <tr clsss="checked">
            <td>       
              <%= f.collection_check_boxes :reserved, [row[:order]],:id, :id, include_hidden: false do |order|%>
              <%= order.label { order.check_box disabled:true } %>
              <% end %>
            </td>
            <td><%= "#{row[:order][:table_id]}"%></td>
            <td> <%= row[:item][:name] %></td>
            <td><%= "#{row[:order][:quantity]}"%> </td>
            <td> 
              <% if row[:order][:purchase_id] == nil %> 未 
              <% else %> 済 
              <% end %>
            </td>
          </tr>
        <% end %> 
      </tbody>
    </table>
   <% end %> 

<% else %>
  <div class ="order-content2" >
  <h3 class="order-title">オーダー履歴</h3>
    <% @orderedObject[:rows].each do |row|%> 
    <div class ="order-list2" >
        <div class ="order-name" >
              <p><%= row[:item][:name] %></p> 
        </div>
        <div class ="order-hoka" >      
              <p><%= row[:item][:cost] %>円 <span><%= row[:order][:quantity]%>個</span> </p> 
        </div>
      </div>
    <% end %>
    <p class="order-space">合計
    <span id ="total"><%=@orderedObject[:total]%>円</span>
    </p> 
    <% if @orderedObject[:total] == 0 %>
      <p>注文履歴はありません</p>
    <% end %>
  </div>
<% end %>
</div>
<div class="table_links">
  <%=link_to "もどる", items_path %>
</div>
<%= render "devise/shared/footer" %>
