<%= render "devise/shared/header" %>
 
 <div class ="order-content2" >
    <% @orderObject[:rows].each do |row|%> 
    <div class ="order-list2" >
        <div class ="order-name" >
              <p><%= row[:item][:name] %></p> 
        </div>
        <div class ="order-hoka" >      
              <p><%= row[:item][:cost] %>円 <span><%= row[:order][:quantity]%>個</span> </p> 
        </div>
      </div>
    <% end %>
  <%= form_with  url: table_purchases_path(@order.table_id), method: :patch, local:true do |f|%>
    <p class="order-space">
    <%= f.label :合計 %><br />
    <span id ="total"><%=f.number_field :total_cost , value:@orderObject[:total],readonly:true %>円</span>
    </p> 
  </div>
  <div>
  <%= f.submit "会計完了" %>
  <% end %>
  </div>


<%= render "devise/shared/footer" %>
  