<%= render "devise/shared/header" %>
 <div class ="order-content2" >
    <% @orderObject[:rows].each do |row|%> 
    <div class ="order-list2" >
        <div class ="order-name" >
              <p><%= row[:item][:name] %></p> 
        </div>
        <div class ="order-hoka" >      
              <p><%= row[:item][:cost] %>円 <span><%= row[:order][:quantity]%>個</span> </p> 
        </div>
      </div>
    <% end %>
  <%= form_with model:@purchase, url: table_purchases_path(@orderObject[:order_table_id]), local:true do |f|%>
    <div class="order-space">
      <%=f.hidden_field :order_id,value: @orders.ids%>
      <p><%= f.label :total_cost,"合計" %></p>
      <p class="input-space"><%=f.number_field :total_cost , value:@orderObject[:total],readonly:true %>円</p>
    </div>
    <%= f.submit "会計完了" ,{class:"btn btn-outline-secondary"}%>
  <% end %>
</div>

  <div class="table_links">
  <%=link_to 'もどる', tables_path %>
  </div>
<%= render "devise/shared/footer" %>
  