<%= render "devise/shared/header" %>
<div class="table_info">
  <p>現在登録中のテーブルはありません</p>
  <p>テーブルの数を選択してください <span >(必須)</span> </p>
  <div class="table-create-form"> 
   <%=form_with  url: tables_path, local: true do |f| %> 
     <p> <%= f.collection_select(:table_quantity_id, TableQuantity.all, :id, :id, {},{:style => 'width: 80px',class: 'form-control select_css_tag'}) %></p>
     <p class="input-space"><%= f.submit "登録する" ,{class:"btn btn-outline-secondary"}%></p>
  <%end%>
 </div>
</div>
<div class="table_links">
  <%=link_to 'もどる', items_path %></p>
</div>
<%= render "devise/shared/footer" %>


