<%= render "devise/shared/header" %>
<% if @tables.blank? %>
    <div class = 'table_info2'>
        <p>現在登録中のテーブルはありません。</p>
    </div>
<% else %>
<div class="table_info">
    使用中のテーブル
    <div class="table_ids">
        <ul>
          <% @tables.each do |table|%>
           <li><%= table.id %></li>
          <%end%>
        </ul>
    </div>
  </div>
  <div class="table_purchase_input">
      会計するテーブル
      <%=form_with model: @tables,url: order_path(@tables.ids),local: true, method: :get do |f| %>
      <p><%= f.collection_select(:id, @tables,:id,:id,{selected: 1}, {class: 'form-control' , required: true ,:size=>'width: 10px'}) %></p>
  
      <p class="input-space"><%= f.submit "会計へ" ,{class:"btn btn-outline-secondary"}%></p>
      <% end %>
  </div>
<% end %>
<div class="table_links">
  <p><%=link_to 'テーブル再登録',tables_path, method: :post%></p>
  <%=link_to 'もどる', items_path %>
</div>
<%= render "devise/shared/footer" %>




