<%= render "devise/shared/header" %>
<div class="item-form">
 <h3>Menu</h3> 
 <div class="search-form">
 <%= form_with(url: items_path, local: true, method: :get) do |form| %>
    <p><%=select_tag "keyword" ,options_from_collection_for_select(Genre.all, "id", "name", "1"),{:style => 'width: 150px',class: 'form-control select_css_tag'}%>
    <p><%= form.submit "検索", {class:"btn btn-outline-secondary"} %></p>
  <% end %> 
  </div >
</div >
<div class ="item-content" >
   <ul class ="item-inner">
    <% @items.each do |item|%>
      <li class='list'>
        <%= link_to item_path(item.id)  do %>
          <div class='item-img-content'>
            <%= image_tag item.image.variant(resize: '200x200'), class: "item-img" %>
          </div>

          <div class='item-info'>
            <p><%= item.name %></p>
            <div ><%= item.cost %>円<br></div>
          </div>
          <% if  user_signed_in? && current_user.id == item.user_id %>
            <%= link_to "編集", edit_item_path(item.id) %> 
            <%= link_to "削除",item_path(item.id), method: :delete %> 
          <% end %>
         <% end %>
      </li>
    <% end %>
    <% if @items.empty?%>
      <p>  選択のジャンルにメニューはありません。</p>
    <% end %>
  </ul>
</div>
<%= render "devise/shared/footer" %>
