<%= render "devise/shared/header" %>
<div class = "new_item_container">
 <h3>新メニュー登録</h3>
  <%= form_with model:@item, url: items_path, local: true do |f| %>
    <div class= "group">
          <%= f.label :image, "画像" ,{class:"form_label"} %>
          <div class= "form_cont"> 
              <%= f.file_field :image ,required: true%>
          </div>
    </div>
    <div class = "group">
         <%= f.label :name, "メニュー名" ,{class:"form_label",required: true} %>
        <div class= "form_cont">
            <%= f.text_area :name, placeholder:"半熟あつあつのたこやき", maxlength:"30", rows:"1",class:"form-control" %>
            <p> 20文字まで</p>
          </div>
    </div>
    <div class = "group">
         <p> ひとこと紹介</p>
          <div class= "form_cont">
            <%= f.text_area :description, placeholder:"明石産の歯応えのあるたこを使用しました。",rows:"5" ,maxlength:"80",class:"form-control" %>
            <p> 80文字まで</p>
          </div>
    </div>
    <div class = "group">
         <%= f.label :genre_id, "カテゴリー" ,{class:"form_label"} %>
          <div class= "form_cont">
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {},{class: "form-control input-sm"}) %>
          </div> 
    </div> 
    <div class = "group">
        <%= f.label :cost, "価格" ,{class:"form_label"} %>
        <div class= "form_small_cont">
            <%= f.text_field :cost, placeholder:"500",class:"cost form-control",required: true%>&emsp;<span>円</span>
        </div>
     </div>
  <%= f.submit "出品する",{class:"btn btn-outline-secondary"} %>
  <% end %>
</div>

<div class= "table_links">
    <%=link_to 'もどる', items_path %>
</div>
<%= render "devise/shared/footer" %>

