<body>
<h2 >新メニュー登録</h2>
    <%= form_with model:@item, url: items_path, local: true do |f| %>
    <div >
      <div> 画像</div>
      <div >
        <p>クリックしてファイルをアップロード</p>
        <%
=begin%>
 <% @message.images.each do |image| %>
        <%= image_tag image, class: 'images' %>
        <% end %> 
<%
=end%>
        <%= f.file_field :image %>
        <span >必須</span>
      </div>

      </div>
      <div > メニュー名 </div>
      <%= f.text_area :name, placeholder:"半熟あつあつのたこやき", maxlength:"40" %>
       <span >必須 40文字まで</span>
      <div >
  
      <div >
        ひとこと紹介
      </div>
      <%= f.text_area :description, placeholder:"明石産の歯応えのあるたこを使用したたこ焼きです。" ,rows:"3" ,maxlength:"80" %>
      <span > 80文字まで</span>
    </div>

  </div>


  <div>商品の詳細</div>
      <div>
        <div>カテゴリー<span >必須</span></div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}) %>
     <div> 

     <div>
      <div>価格<span>必須</span></div>
      <span>¥</span>
      <%= f.text_field :cost, placeholder:"500" %>
    </div>


     <div>
      <%= f.submit "出品する" %>
      <%=link_to 'もどる', items_path %>
    </div>
   
  </div>

 
  <% end %>


  </body>