<%
=begin%>
 <div class="messages">
    <% message.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div> 
<%
=end%>
  
<div>
  <%= @item.name %>
  <%= "#{@item.cost}円"%>
</div> 
<div>
  <%= image_tag @item.image.variant(resize: '100x100')  %>
</div>
<div>
  <%= @item.description %>
</div>
 <%=link_to 'もどる', root_path %>
 